snippet led "ledger heading" b
${1:`date +%Y-%m-%d`}    ${2:Merchant}
	$0
endsnippet

snippet acc "account entry" b
${1:Type}:${2:Category}     \$${3:amount}
endsnippet

snippet utl "universal text linking"
<url:$0>
endsnippet

snippet utn "universal text next"
<url:#tn=$0>
endsnippet

snippet utp "universal text previous"
<url:#tp=$0>
endsnippet
