snippet h1s "h1 style" b
<h1 style="$1">$0</h1>
endsnippet

snippet h2s "h2 style" b
<h2 style="$1">$0</h2>
endsnippet

snippet h3s "h3 style" b
<h3 style="$1">$0</h3>
endsnippet

snippet h4s "h4 style" b
<h4 style="$1">$0</h4>
endsnippet

snippet h5s "h5 style" b
<h5 style="$1">$0</h5>
endsnippet

snippet h6s "h6 style" b
<h6 style="$1">$0</h6>
endsnippet

snippet sty "style" i
style="$0"
endsnippet

snippet color "color" i
color: $0
endsnippet
