snippet pr "paranthesis" i
($1)$0
endsnippet

snippet qr "square brackets" i
[$1]$0
endsnippet

snippet br "braces" i
{$1}$0
endsnippet

snippet ar "left arrow" 
<- $0
endsnippet

snippet qq "single quote" i
'$1'$0
endsnippet

snippet dq "double quotes" i
"$1"$0
endsnippet
