# merge pdfs using ghostscript
gsmerge () {
  gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -sOutputFile=merged.pdf $1 $2
}

# pandoc convert from markdown to pdf
mdtopdf () {
  pandoc -V geometry:margin=1in $1 -o $2
}

# fzf-kill - kill process
k() {
  pid=$(ps -ef | sed 1d | fzf -m | awk '{print $2}')

  if [ "x$pid" != "x" ]
  then
    kill -${1:-9} $pid
  fi
}

# mkdir and move there
mkd () {
  mkdir -p "$1"
  cd $1
}
